/target

# Ignore all .pem files in src/auth_cert/
src/auth_cert/*.pem
Cargo.lock
.idea/vcs.xml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/secure_protocal.iml
src/pem/clancy_cert.pem
src/pem/clancy_private_key.pem
src/pem/clancy_public_key.pem
src/pem/taylor_cert.pem
src/pem/taylor_private_key.pem
src/pem/taylor_public_key.pem
src/pem/test_server_private_key.pem
src/pem/test_server_public_key.pem
src/pem/A_cert.pem
src/pem/A_private_key.pem
src/pem/B_cert.pem
src/pem/B_private_key.pem
src/pem/C_cert.pem
src/pem/C_private_key.pem
src/pem/test_server_cert.pem
